a img {
    text-decoration: none;
    border: none;
  }
  
  a {
    text-decoration: none; 
  }
  
  .vermelho-escuro{
    background-color: #ffd7a9;
  }
  
  .vermelho-medio{
    background-color: #ffd7a9;
  }
  
  .vermelho-claro{
    background-color: #ffd7a9;
  }
  
  h1{
    font-family: 'Fascinate', cursive;
  }
  
  .font-header {
    font-family: 'Fascinate', cursive;
  }
  
  p{
    font-family: "Sour Gummy", sans-serif;
  }
  .navbar-sticky {
    position: sticky;
    
  }
  body {
    background: url(../img/download.jpg) no-repeat center center fixed;
    background-size: cover; 
  }
  .form-custom-email {
    width: 35%;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    padding: 20px;
    color:aliceblue;
  }
  
  .form-control {
    height: 45px; 
    font-size: 16px; 
  }
  
  textarea.form-control {
    height: 150px; 
  }