a img {
  text-decoration: none;
  border: none;
}

a {
  text-decoration: none; 
}

.cor-bege{
  background-color: #ffd7a9;
}

h1{
  font-family: 'Fascinate', cursive;
}

.font-header {
  font-family: 'Fascinate', cursive;
}
body {
  background: url(../img/download.jpg) no-repeat center center fixed;
  background-size: cover; 
}
.form-custom-email {
  width: 100%; 
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  color: aliceblue;
}
.form-control {
  height: 45px; 
  font-size: 16px; 
}
textarea.form-control {
  height: 150px; 
}
.cor{
  color:#77262e;
}
footer{
  background-color: white;
}
@media (max-width: 576px) {
  .form-custom-email {
    width: 90%; 
  }
}
